{%extends "temp.html"%}

{%block title%}天王星AI-Login{%endblock%}
{%block bodystyle%}
background-image: url(/static/img/bg2.jpg);background-size:100% 160%;
{%endblock%}

{%block body%}
<div style="margin:0 auto;;heigth:100%;width:100%">
    <div class="jumbotron" style="text-align:center; heigth:30%; width:30%; >
        <h1 class="display-5" style="text-align:center">登录</h1>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
        <form action="/u/" method="post" onsubmit="return CheckForm()" name="forms">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user" value={{user}}>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" value={{password}}>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checkbox" checked="checked">
            <label class="form-check-label" for="exampleCheck1">同意服务协议</label>
          </div>
          <button type="submit" class="btn btn-primary">登录</button>
        </form>
        <label class="form-check-label" for="exampleCheck1">没有账号？去<a href="/loginIn">注册</a></label>

    </div>

</div>


{{ts}}
{%endblock%}

{%block script%}
<script language="JavaScript">
    function CheckForm()
    {
         var ch="";
        for(var i=0; i<document.forms.check.length;i++)
        {
            if(document.forms.check[i].checked)
            ch=ch+document.forms.check[i].value;
            }
            if(ch=="")
            {
            alert("请选择同意服务协议！");
            return false;
        }

    }
</script>
{%endblock%}